#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.App {
  width: 100%;
  height: auto;
}

header {
  height: 45px;
  background: black;
  margin-bottom: 20px;
  text-align:center;
}

header h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
  line-height: 1.4em;
  font-weight: lighter;
}

.artwork {
  width: 200px;
  height: auto;
  text-align: left;
}

.artwork img {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.artwork-title {
  color: black;
  font-size: .9em;
  line-height: 1.4em;
  margin: 0 0 10px;
}

.artwork-subtext {
  font-size: .7em;
  line-height: 1.1em;
  color: gray;
  margin: 0 0 10px;
}

